.wapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  align-items: flex-start;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .wapper {
    grid-template-columns: 1fr;
  }
}
.App > p {
  font-size: 0.5rem;
  line-height: 1.5;
  color: var(--gray-400);
  margin: 3rem;
  /* align on button page right */
  text-align: right;

  

}