.addTaskForm {
    background-color: var(--gray-600);
        border-radius: 8px;
        /* padding: 0.5rem; */
        margin-top: 1rem;
        display: flex;
        /* align-items: center; */
        /* justify-content: space-between; */
        position: relative;
        margin: 0 3rem 0 3rem;
        margin-bottom: 1rem;
}

/* Add in the same line  */

.addTaskForm input {
    background: var(--gray-600);
    border: 0;
    width: 100%;
    /* margin-left: 3rem; */
    /* resize: none; */
    height: 4rem;
    padding: 1rem;
    border-radius: 8px 0 0 8px;
    color: var(--gray-100);
    /* line-height: 1.4; */
    display: flex;
    /* align-items: center;
    justify-content: left; */


}

.addTaskForm button {
    width: 4rem;
    padding: 1rem;
    border-radius: 0 8px 8px 0;
    border: 0;
    background: var(--blue-200);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
    /* display: flex; */
    align-items: right;
}

.addTaskForm button:not(:disabled):hover {
    background: var(--blue-500);
}

.addTaskForm button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.totalStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.MessageZeroTasks {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.notepad {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}